.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input,button{
  margin: 10px;
  height: 35px;
  text-align: center;
}
select{
  text-align: center;
}
.logo{
  text-align: center;
  font-size: 25px;
  margin-top: 10px;
  font-weight: bold;
}

/* .dashboard{
 font-size: 20px;
} */
/* .dashboard div{
 width: 30vw;
 background-color: #282c34;
 color: white;
 text-align: center;
} */
.logout{
  text-align: end;
  margin-right: 5%;
}

.form{
  /* background-color: #282c34; */
  width: 40%;

  margin: auto;
  margin-top: 5%;
  border: 2px solid red;
  padding: 6%;

}
body{
  background-color: #eee;
}

h2{
  margin-top: 25px;
  color: red;
}
button{
  margin-left: 20px;
}
select{
  text-align: left;
  
}
.btns>*{
  padding-top: 20px;

}
.btns>span{
  margin: 10px;
}
a{
  text-decoration: none;
  border: 1px solid blueviolet;
  padding: 1%;
}
